{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>       
        <div class="searchBox pull-right">
            <form class="search" action="/index/" method="get">
                {{form}}
                <input type="submit" value="search" class="btn btn-warning">
            </form>
        </div>
    <h2>Topics here<small>seize your pleasure here</small></h2>
    </div>
    <div class="topicBox">
        {% for topic in topics %}
        <div class="col-lg-12 panel-body">
        <form class="topic" action="/choose/" method="post">
            <input type="hidden" name="id" value="{{topic.id}}">
            <h3>Title: {{topic.title}}</h3>
            <a class="list-group-item">{{topic.description}}</a>
            <div class="">
                <span class="col-md-6">
                    <input type="radio" name="choice" value="0">{{topic.option1}}
                </span>
                <span class="col-md-6">
                    <input type="radio" name="choice" value="1" >{{topic.option2}}
                </span>
            </div>
            <div href="">
                <input type="submit" value="submit" class="btn btn-success pull-right">
            </div>
        </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


