{% extends "base.html" %}

{% block content %}
{% if not request.user.is_authenticated %}
<div style="background-image:url(http://img4.duitang.com/uploads/item/201401/29/20140129123234_cQS4c.jpeg); height:768px; margin-top: -50px;">
{% endif %}
<div class="container">
{% if request.user.is_authenticated %}
    <div>
        <div class="searchBox pull-right">
            <form class="search" action="/index/" method="get">
                {{form}}
                <input type="submit" value="search" class="btn btn-warning">
                <a href="/index/" class="btn btn-primary">换一批！</a>
            </form>
        </div>
    <h2>Topics here<small>seize your pleasure here</small></h2>
    </div>

    <div class="topicBox">
        {% for topic in topics %}
        <div class="col-lg-12 panel-body">
        <form class="topic" action="/choose/" method="post">
            <input type="hidden" name="id" value="{{topic.id}}">
            <a class="list-group-item active"><h4>Title: {{topic.title}}</h4> <span style="color: red">{{topic.due}}</span></a>
            <a class="list-group-item" style="height: 250px;"><strong>Topic Discription: </strong><br>{{topic.description}}</a>
            <div>
                <div class="col-md-2 list-group-item">Choice: </div>
                <div class="col-md-5 list-group-item">
                    <input type="radio" name="choice" value="0" checked="checked" >{{topic.option1}}
                </div>
                <div class="col-md-5 list-group-item">
                    <input type="radio" name="choice" value="1" >{{topic.option2}}
                </div>
            </div>
            <div>
                <span class="col-md-2 list-group-item">赔率:</span>
                <span class="col-md-5 list-group-item">
                    {{topic.rate1}}
                </span>
                <span class="col-md-5 list-group-item">
                    {{topic.rate2}}
                </span>
            </div>
            <div>
                <input type="submit" value="submit" class="btn btn-success pull-right">
                <input type="number" name="bet" class="pull-right" style="height:32px;" step="5" value="10" />
            </div>
        </form>
        <a class="btn btn-info" id="tp{{topic.id}}" rel="popover" data-content="{{topic.people1}} people choose the choice 1 
        {{topic.people2}} people choose choice 2." data-original-title="Proportion">show</a>
        </div>
        <script src="http://libs.baidu.com/jquery/1.7.1/jquery.min.js"></script>
        <script src="../bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>
        <script src="../bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>
        <script>
        $(function ()
        { $("#tp{{topic.id}}").popover();
        });
        </script>
        {% endfor %}
    </div>
    {% include "footer.html" %}
</div>



{%else%}
<div class="container">
   <div class="jumbotron" style="margin-top:50px;">
      <h1>欢迎来到IGuess!</h1>
      <p>这是一个Django框架的实验项目。</p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/register/">注册
         </a>
         <a class="btn btn-success btn-lg" role="button" href="/login/">登录
         </a>
      </p>
   </div>
</div>
{% include "footer.html" %}
{% endif %}


</div>

{% endblock %}
