<html>
<head>
	<title>Register</title>
</head>
<body>

<form action="" method="post">
	<ul style="list-style-type: none">
		<h2>User register</h2>
		<li><label for="username">Username: </label><input type="text" name="username"></li>
		<li><label for="email">Email: </label><input type="text" name="email"></li>
		<li><label for="password1">Password: </label><input type="password" name="password1"></li>
		<li><label for="password2">Password Confirm: </label><input type="password" name="password2"></li>
		<li><input type="submit" value="Submit"></li>
	</ul>
</form>

</body>
</html>